<html>
  <head>
    <title>Wait Watcher</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>Wait Watcher</h1>
    <nav>
      <a href="/SignIn">Sign In</a>
      <a href="/destinations">Destinations</a>
    </nav>
    <%= yield %>
  </body>
</html>
